<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/style/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </header>
    <body>
        <div class="container-fluid">
            <h1 class="text-center">Algorithm Visualize SVG</h1>
            <div class="row">
                <div id="nqueens">
                    <h3> I . N-Queens Problems</h3>
                    <a href="/nqueens/d3" title="Using D3"><h4>D3.js</h4></a>
                    <a href="/nqueens/snapsvg" title="Using SnapSvg"><h4>Snapsvg.js</h4></a>   
                </div>
            </div>
        </div>
    </body>
</html>


